.agenda {
    color: #ffffff;
    background-color: #3c065e;
    height: 500px;
    padding: 40px;

    h1 {
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }

    p {
        font-size: 18px;
        font-style: i;
        text-align: justify;
    }

    .agenda-image {
        background-image: url(./../../../assets/laptop-code.png);
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    img {
        height: 400px;
        object-fit: contain;
    }
}

.learning-goals {
    padding: 40px;
    background-color: #ffffff;

    h1 {
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }
    h2 {
        text-align: center;
    }

    .learning-goals-theme {
        margin-bottom: 20px;
        position: relative;
        height: 200px;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
            0px 1px 3px 0px rgb(0 0 0 / 12%);
        border-radius: 10px;

        p {
            width: 100%;
            text-align: center;
            margin-top: 50px;
        }

        mat-icon {
            color: #ffffff;
            font-size: 50px;
            position: absolute;
            top: 50px;
            left: 45%;
        }
    }
}

.character-builder-plan {
    color: #ffffff;
    background-color: #3c065e;
    padding: 40px;

    .character-builder-plan-header {
        h1 {
            font-size: 36px;
            font-weight: bold;
        }

        img {
            height: 300px;
            width: 500px;
        }
    }

    p {
        font-size: 24px;
    }
    li {
        font-size: 16px;
    }
}

.future-total-plan {
    height: 500px;
    padding: 40px;
    background-color: #ffffff;

    h1 {
        font-size: 32px;
        font-weight: bold;
    }

    li {
        font-size: 16px;
    }

    .future-plan-image {
        background-image: url(./../../../assets/design-list.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@media only screen and (max-width: 1440px) {
    .character-builder-plan {
        .character-builder-plan-header {
            img {
                height: 280px;
                width: 350px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .agenda {
        height: 400px;
    }

    .character-builder-plan {
        .character-builder-plan-header {
            img {
                height: 250px;
                width: 300px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .agenda {
        padding: 20px;
        height: auto;
    }

    .learning-goals {    
        padding: 20px;    
        .learning-goals-theme {
            height: 150px;
            mat-icon {
                top: 30px;
                left: 42%;
            }
        }
    }

    .character-builder-plan{
        padding: 20px;
    }

    .future-total-plan{
        padding: 20px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .agenda {
        padding: 20px;
        height: auto;
    }

    .learning-goals {    
        padding: 20px;    
        .learning-goals-theme {
            height: 150px;
            mat-icon {
                top: 30px;
                left: 46%;
            }
        }
    }

    .character-builder-plan{
        padding: 20px;
    }

    .future-total-plan{
        padding: 20px;
        height: auto;
    }
}

