<div>
    <div class="agenda" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxFlex.gt-lg="50" fxFlex.lg="70" fxFlex.md="100" fxFlex.lt-md="100">
            <h1>Agenda</h1>
            <p>
                The project was inspired by my Experience of inconvenience playing this game. But build why something
                adds
                no value to life. Instead of build just another tool, the idea is to create a tool that
                is useful, unique and in the process introduce me with new technology.
            </p>
            <p>
                While building the project itself is fun, I'll not be focusing on the idea of the project itself, but
                will focus on the new technology i can
                implement bits by bits here and there in the project.
            </p>
            <p>
                That being said, why not make a list of things i want to do in this project.
            </p>
        </div>
        <div fxHide.lt-md class="agenda-image" fxFlex.gt-lg="50" fxFlex.lg="30" fxFlex.md="100" fxFlex.lt-md="100">
        </div>
    </div>

    <div fxLayout="column" class="learning-goals">
        <div>
            <h1>
                Learning goals
            </h1>
            <h2>Things I want to learn by the time I finish the project</h2>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div class="learning-goals-theme" *ngFor="let item of learningGoalList"
                style="background-color: {{item.color}}" fxFlex.gt-lg="32" fxFlex.lg="48" fxFlex.md="100"
                fxFlex.lt-md="100" fxLayoutAlign="center center">
                <mat-icon>{{item.Icon}}</mat-icon>
                <p>{{item.Title}}</p>
            </div>
        </div>
    </div>

    <div class="character-builder-plan" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxHide.lt-md class="character-builder-plan-header" fxFlex="40" fxLayout="column"
            fxLayoutAlign="center center">
            <h1>Character builder</h1>
            <img src="assets/data-visual.jpg" alt="">
        </div>

        <div fxFlex.gt-lg="60" fxFlex.lg="60" fxFlex.md="100" fxFlex.lt-md="100">
            <p>Future plan for character builder. (Main focus of the project)</p>
            <ul>
                <li>Players can select a weapon for specific character. A datasheet will show calulated stats scaling
                    for each level.</li>
                <li>Players can select a weapon for specific character. A datasheet will show calulated stats scaling
                    for each level.</li>
                <li>Players can select individual artifacts/artifact sets to build a character.</li>
                <li>Players can select artifact stats and substats manually to create prefered artifact to be used in
                    character building.</li>
                <li>Stats scaling for level and ascension.</li>
                <li>Potential damage graph.</li>
                <li>Reaction calculation and damage graph scaling with each type of reaction.</li>
                <li>Show farming route and date in calendar view. (Character ascension, talent ascension and selected
                    weapon ascension.)</li>
                <li>(Maybe) Show common and local material routes.</li>
            </ul>
        </div>
    </div>


    <div class="future-total-plan" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex.gt-lg="60" fxFlex.lg="70" fxFlex.md="100" fxFlex.lt-md="100">
            <h1>Features to introduce</h1>
            <ul>
                <li>
                    Character comparison
                    <ul>
                        <li>Basic comparison of multiple characters without any weapon, artifacts or
                            buffs.</li>
                        <li>Character build comparison.</li>
                    </ul>
                </li>
                <li>Weapon comparison.</li>
                <li>Artifact builder.</li>
                <li>Build comparsion backup. (Introducing databse, rest-api and a login/registration system)</li>
                <li>(Maybe) Collect all miscellaneous item/materials data. Like recipe, local material, farming routes
                    etc.</li>
            </ul>
        </div>
        <div fxHide.lt-md class="future-plan-image" fxFlex.gt-lg="40" fxFlex.lg="30" fxFlex.md="100" fxFlex.lt-md="100">
        </div>
    </div>
</div>