<div class="introduction-container">
    <div class="introduction-banner-image" fxLayout="row" fxLayout.lt-md="column">
        <img src="./assets/introduction-banner-2.jpg" alt="">

        <div class="introduction-description" fxLayout="column" fxLayoutAlign="center center">
            <h1> Genshin Impact </h1>
            <p>
                You have arrived in Teyvat — a fantasy world where the seven elements flow and converge.
                In the distant past, the Archons granted mortals unique elemental abilities. With the help of such
                powers,
                people formed a bountiful homeland out of the wilderness. However, 500 years ago, the collapse of an
                ancient
                civilization turned the universe upside down...
                Though the calamity the world suffered has ceased, peace has yet to be restored.
            </p>
        </div>
    </div>


    <div class="introduction-region" fxLayout="row" fxLayout.lt-md="column">
        <div class="mondstadt-container" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <h2>Mondstadt</h2>
            <p>
                A city of freedom that lies in the northeast of Teyvat.
                From amongst mountains and wide-open plains, carefree breezes carry the scent of dandelions — a gift
                from the Anemo God, Barbatos — across Cider Lake to Mondstadt, which sits on an island in the middle of
                the lake
            </p>
        </div>

        <div class="liyue-container" fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <h2> Liyue</h2>
            <p>
                A bountiful harbor that lies in the east of Teyvat.
                Mountains stand tall and proud alongside the stone forest, that together with the open plains and lively
                rivers make up Liyue's bountiful landscape, which shows its unique beauty through each of the four
                seasons. Just how many gifts from the Geo God lie in wait amongst the rocks of Liyue's mountains?
            </p>
        </div>
    </div>


    <div class="p-24 introduction-info" fxLayout="row" fxLayout.lt-md="column" fxLayout="center center">
        <h2 fxFlex="20" fxLayoutAlign.lt-md="center center">
            An Epic Fantasy
        </h2>
        <p fxFlex="80">
            Experience an immersive single-player campaign. As a traveler from another world, you will embark on a
            journey to reunite with your long-lost sibling and unravel the mysteries of Teyvat, and yourself.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div class="p-24 introduction-info-grey" fxLayout="row" fxLayout.lt-md="column" fxLayout="center center">
        <h2 fxFlex="20" fxLayoutAlign.lt-md="center center">
            Your World to Discover
        </h2>
        <p fxFlex="80">
            Fly across the open world, swim through crystal-clear waters, and climb towering mountains. Stray off the
            beaten path to discover all the hidden secrets of a world full of wonder and mystery.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div class="p-24 introduction-info" fxLayout="row" fxLayout.lt-md="column" fxLayout="center center">
        <h2 fxFlex="20" fxLayoutAlign.lt-md="center center">
            Travel Alone or Battle Together
        </h2>
        <p fxFlex="80">
            Charge head-on into battles solo, or invite friends to join the fight against dangerous monsters with
            4-player cross-play for PS4, iOS, Android, and PC.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div class="p-24 introduction-info-grey" fxLayout="row" fxLayout.lt-md="column" fxLayout="center center">
        <h2 fxFlex="20" fxLayoutAlign.lt-md="center center">
            Master the Seven Elements
        </h2>
        <p fxFlex="80">
            ot just another mindless hack and slash. Manipulating the various elements is the key to defeating powerful
            enemies and solving challenging puzzles.
        </p>
    </div>

    <mat-divider></mat-divider>

    <div class="p-24 introduction-info" fxLayout="row" fxLayout.lt-md="column" fxLayout="center center">
        <h2 fxFlex="20" fxLayoutAlign.lt-md="center center">
            Build Your Dream Team
        </h2>
        <p fxFlex="80">
            Choose who fights by your side. Build your party from over 20+ characters (with more to come) — each with
            unique abilities, personalities, and combat styles.
        </p>
    </div>
</div>